// Colors

$primaryColor: hsl(171, 66%, 44%);
$secondaryColor: hsl(233, 100%, 69%);
$neutralColor1: hsl(210, 10%, 33%);
$neutralColor2: rgb(160, 171, 178);;
$footerColor: rgb(245, 246, 248);
$buttonActive1: rgb(123, 202, 187);
$buttonActive2: rgb(139, 151, 248);

