//Tipografías

@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

$mainFont:'Bai Jamjuree', sans-serif;


//Font Size
$fontSize: 18px;
//Font Size Variables
$textXl:1.6rem;
$textLg:1.5rem;
$textMd:1.2rem;
$textSm:1rem;
$textXs:0.8rem;

//Weights Fonts
$textRegular:400;
$textSemiBold:600;


//Line Height
$lineHeight:1.8;
$lineHeightHeader:1.5;