//Tipografías

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@300;400;700&display=swap');

/*
$mainFont:'Open Sans', sans-serif;
$headingsFont: 'Poppins', sans-serif;

//Font Size
$fontSize: 18px;
//Font Size Variables
$textXl:2rem;
$textLg:1.5rem;
$textMd:1.2em;
$textSm:1em;
$textXs:0.8rem;

//Weights Fonts
$textBold:700;
$textSemiBold:600;
$textRegular:400;
$textLight:200;

//Line Height
$lineHeight:1.5;*/