/* // Footer */
@use './h-fonts' as F;
@use './h-colors' as C;
@use './mixin.scss' as M;

.Footer{
    color: C.$neutralColor1;
    background-color: C.$footerColor;

    & a{
        font-size: F.$textSm;
    }

     /* // Logos redes */
    & .fa{
        font-size: 1.5rem;
        padding: 0 9px;
        color: C.$neutralColor1;
    }

    & .fa-twitter{
        padding-left: 1rem;
    }

    & .fa-facebook{
        font-size: 1.2rem;
        border-color: C.$neutralColor1;
        background-color: C.$neutralColor1;
        color: white;
        padding: 3px 3px 0 10px;
        border-radius: 3px;
    }

    @include M.medias(mobile) {
        padding: 2rem 0; 
        text-align: center;

        .article {
        @include M.Display( flex, column, center, center, 1rem);
        }

        main article a{
            @include M.Display( flex, row nowrap, center, center);
            padding: 0.5rem 0;
        }
        footer{
            padding-top: 1rem;
        }
    }

    @include M.medias(desktop) {
       padding: 2rem 0;
        .article {
            @include M.Display( flex, row nowrap, space-around, flex-start, 8rem);
        }
        
        main{
            @include M.Display( flex, row nowrap, center, flex-start, 0.8rem);
            padding: 0 10rem 0 0;
        }

        main article{
            @include M.Display( flex, column, space-between, start, 0.3rem);
            padding: 0 1.5rem;
        }
        

        /* // Links ACTIVE */
        & a:hover{
            color: C.$primaryColor;
        }

        /* // Logos redes ACTIVE */
        & .fa:hover{
            color: C.$primaryColor;
        }

        & .fa-facebook:hover{
            border-color: C.$primaryColor;
            background-color: C.$primaryColor;
            color: white;
        }
    }
}