/* // html */
@use './h-fonts.scss' as F;
@use './h-colors.scss' as C;
@use './mixin.scss' as M;


html{
    font-family: F.$mainFont;
    font-size: F.$fontSize;
    font-weight: F.$textRegular;
    line-height: F.$lineHeight;

    & p {
        font-size: F.$textXs;
        color: C.$neutralColor2;
    }
    
    & h1, h2, h3{
        color: C.$neutralColor1;
        font-weight: F.$textSemiBold;
    }

    & h1{
        font-size: F.$textXl;
    }

    & h2{
        font-size: F.$textLg;
    }

    & h3{
        font-size: F.$textMd;
    }

}
