/* // Header */

@import './mixin.scss';

.Header {
    //Estilos para mobile
    @include medias(mobile) {
        background-image: url(../../public/img/bg-header-mobile.png);

        @include Display(flex, row, center,center, 2rem);

        .section {
            margin-top: 7rem;
            margin-bottom: 3rem;
        }
    }

    @include medias(desktop) {
        background-image: url(../../public/img/bg-header-desktop.png);

        @include Display(flex, row, center,center, 2rem);

        .section {
            margin-top: 7rem;
            margin-bottom: 3rem;
        }
    }
}