/* // Main */

@use './h-fonts' as F;
@use './h-colors' as C;
@use './mixin.scss' as M;

.Main {
    //Estilos para mobile
    @include M.medias(mobile) {

        margin-bottom: 50px;
        margin-left: 40px;
        margin-right: 40px;
        text-align: center;
        
        p{
            padding: 0.5rem 0;
        }
        
        h1, h2, h3{
            line-height: F.$lineHeightHeader;
        }
        
        //Primer hijo mobile
        & .section:first-child{

            margin-bottom: 150px;

            .footer {
                
                .button:first-child{
                    //Boton iOS
                    @include M.Button( 1rem, 700, white, C.$primaryColor, 30px, 0 1px 2px hsl(171, 89%, 18%), 0.5rem 3.6rem);
                    margin-top: 2rem;
                }
                .button:last-child{
                    //Boton Mac
                    @include M.Button( 1rem, 700, white, C.$secondaryColor, 30px, 0 1px 2px hsl(233, 78%, 34%), 0.5rem 3.6rem);
                    margin-top: 1.5rem;
                }
            }
        }
        //Segundo hijo mobile
        & .section:nth-child(2){

            .main {

                margin-bottom: 150px;

                article {

                    margin-bottom: 30px;


                }

                figure {
                    margin-top: 40px;
                    margin-bottom: 30px;
                }
            }
        }
        
        //Tercer hijo mobile
        & .section:nth-child(3){

            .header {
                margin-bottom: 50px;
            }
        }
        //Cuarto hijo mobile
        & .section:nth-child(4){

            padding: 4rem 0 2rem 0;

            article{
                padding: 2rem 0.5rem;
            }

            footer{
                @include M.Display( flex, column, center,center, 3rem);

                img{
                    width: 7rem;
                }
            }
        }

        //Quinto hijo mobile
        & .section:last-child{

            padding: 4rem 0 2rem 0;

            article{
                padding: 2rem 0.5rem;
            }

            footer{
                padding-top: 1rem;
                .button:first-child{
                    // Boton
                    @include M.Button( 1rem, 700, white, C.$primaryColor, 30px, 0 1px 2px hsl(171, 89%, 18%), 0.5rem 3.6rem);
                    margin-top: 1rem;
                }
                .button:last-child{
                    // Boton
                    @include M.Button( 1rem, 700, white, C.$secondaryColor, 30px, 0 1px 2px hsl(233, 78%, 34%), 0.5rem 3.6rem);
                    margin-top: 1rem;
                }
            }
        }
    }

    @include M.medias(desktop) {


        //Primer hijo desktop
        & .section:first-child {

            @include M.Display ( flex, row, center, center);

            .main {
                width: 490px;
            }

            .footer {
                
                .button:first-child{
                    //Boton iOS
                    @include M.Button( 1rem, 700, white, C.$primaryColor, 30px, 0 1px 2px hsl(171, 89%, 18%), 0.5rem 1.7rem);
                    margin-top: 2rem;
                    margin-right: 0.5rem;
                    
                }
                .button:last-child{
                    //Boton Mac
                    @include M.Button( 1rem, 700, white, C.$secondaryColor, 30px, 0 1px 2px hsl(233, 78%, 34%), 0.5rem 1.5rem);
                    margin-top: 1.7rem;
                }

                // Botones ACTIVE 
                .button:first-child:hover{
                cursor: pointer;
                background-color: C.$buttonActive1;
                }

                .button:last-child:hover{
                    cursor: pointer;
                    background-color: C.$buttonActive2;
                }
            }

        }
        //Segundo hijo desktop
        & .section:nth-child(2) {

            .header {
                margin-left: 400px;
                margin-right: 400px;
                margin-bottom: 50px;
            }

            .main {
                @include M.Display( flex, row, start, center, 0.3rem);

                margin-left: -90px;

                img {
                    height: 550px;
                    margin-right: 80px;
                }

                & article {
                    @include M.Display( flex, column, center, start);
                    width: 320px;
                    
                    text-align: left;
                }
            }
        }

        //Tercer hijo desktop
        & .section:nth-child(3) {

            p {
                margin-left: 400px;
                margin-right: 400px;
            }

            img {
                width: 700px;
            }
        }

        //Cuarto hijo desktop
        & .section:nth-child(4){
            article{
                @include M.Display( flex, column, space-between, center, 0.3rem);
            }
            
            & main{
                padding: 4rem 6rem;
                p{
                    padding: 0 0.5rem;
                }
                @include M.Display( flex, row nowrap, space-around, center);
            } 
            
            & footer{
                padding-top: 4rem;
                @include M.Display( flex, row nowrap, space-around, center, 6rem);
            }
        }

        //Quinto hijo desktop
        & .section:last-child{

            p{
                padding: 1rem 20rem;
            }

            .footer{

                /* // Botones ACTIVE */
                .button:first-child:hover{
                    cursor: pointer;
                    background-color: C.$buttonActive1;
                }

                .button:last-child:hover{
                    cursor: pointer;
                    background-color: C.$buttonActive2;
                }
            }
        }
    }
}
