@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
/* // html */
html {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

/* // Header */
.Header {
  background-image: url(../../public/img/bg-header-desktop.png);
}

/* // Main */ /* // Footer */
/* // Footer */
